node_modules/
dist/
build/
*.apk
*.aab
android/app/build/
android/build/
android/.gradle/
android/captures/
android/local.properties
android/.idea/
*.iml
android/app/src/main/assets/public/
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
*.zip
*.7z
*.tar
*.rar
